/* line 4, ../../../../../../../.rbenv/versions/1.9.3-p392-railsexpress/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
html {
  margin: 0;
  padding: 0;
  border: 0;
}

/* line 12, ../../../../../../../.rbenv/versions/1.9.3-p392-railsexpress/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
.bp-reset-element, body, h1, h2, h3, h4, h5, h6, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, blockquote, q, th, td, caption, table,
div, span, object, iframe, p,
pre, a, abbr, acronym, address,
code, del, dfn, em, img,
dl, dt, dd, ol, ul, li, fieldset,
form, label, legend,
caption, tbody, tfoot, thead, tr {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../../../.rbenv/versions/1.9.3-p392-railsexpress/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 21, ../../../../../../../.rbenv/versions/1.9.3-p392-railsexpress/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
blockquote, q {
  quotes: "" "";
}
/* line 66, ../../../../../../../.rbenv/versions/1.9.3-p392-railsexpress/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
}

/* line 22, ../../../../../../../.rbenv/versions/1.9.3-p392-railsexpress/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
th, td, caption {
  float: none !important;
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 23, ../../../../../../../.rbenv/versions/1.9.3-p392-railsexpress/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 24, ../../../../../../../.rbenv/versions/1.9.3-p392-railsexpress/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
a img {
  border: none;
}

/* line 15, ../sass/screen.scss */
.deck-container {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 1.75em;
  background: #fff;
}
/* line 20, ../sass/screen.scss */
.deck-container .slide {
  background: #fff;
}
/* line 23, ../sass/screen.scss */
.deck-container .slide h1 {
  color: #000;
}
/* line 27, ../sass/screen.scss */
.deck-container .slide h2 {
  color: #c00;
  border-bottom-color: #ccc;
}
/* line 32, ../sass/screen.scss */
.deck-container .slide h3 {
  color: #888;
}
/* line 36, ../sass/screen.scss */
.deck-container .slide pre {
  border-color: #ccc;
}
/* line 40, ../sass/screen.scss */
.deck-container .slide code {
  color: #888;
}
/* line 44, ../sass/screen.scss */
.deck-container .slide blockquote {
  font-size: 2em;
  font-style: italic;
  padding: 1em 2em;
  color: #000;
  border-left: 5px solid #cccccc;
}
/* line 51, ../sass/screen.scss */
.deck-container .slide blockquote p {
  margin: 0;
}
/* line 55, ../sass/screen.scss */
.deck-container .slide blockquote cite {
  font-size: .5em;
  font-style: normal;
  font-weight: bold;
  color: #888;
}
/* line 63, ../sass/screen.scss */
.deck-container .slide ::-moz-selection {
  background: #c00;
  color: #fff;
}
/* line 64, ../sass/screen.scss */
.deck-container .slide ::selection {
  background: #c00;
  color: #fff;
}
/* line 67, ../sass/screen.scss */
.deck-container .slide a, .deck-container .slide a:hover, .deck-container .slide a:focus, .deck-container .slide a:active, .deck-container .slide a:visited {
  color: #c00;
  text-decoration: none;
}
/* line 72, ../sass/screen.scss */
.deck-container .slide a:hover, .deck-container .slide a:focus {
  text-decoration: underline;
}
/* line 79, ../sass/screen.scss */
.deck-container > .slide .deck-before, .deck-container > .slide .deck-previous {
  opacity: 0.4;
}
/* line 83, ../sass/screen.scss */
.deck-container > .slide .deck-before:not(.deck-child-current) .deck-before, .deck-container > .slide .deck-before:not(.deck-child-current) .deck-previous, .deck-container > .slide .deck-previous:not(.deck-child-current) .deck-before, .deck-container > .slide .deck-previous:not(.deck-child-current) .deck-previous {
  opacity: 1;
}
/* line 89, ../sass/screen.scss */
.deck-container > .slide .deck-child-current {
  opacity: 1;
}
/* line 94, ../sass/screen.scss */
.deck-container .deck-prev-link, .deck-container .deck-next-link {
  background: #ccc;
  font-family: serif;
}
/* line 98, ../sass/screen.scss */
.deck-container .deck-prev-link, .deck-container .deck-prev-link:hover, .deck-container .deck-prev-link:focus, .deck-container .deck-prev-link:active, .deck-container .deck-prev-link:visited, .deck-container .deck-next-link, .deck-container .deck-next-link:hover, .deck-container .deck-next-link:focus, .deck-container .deck-next-link:active, .deck-container .deck-next-link:visited {
  color: #fff;
}
/* line 102, ../sass/screen.scss */
.deck-container .deck-prev-link:hover, .deck-container .deck-prev-link:focus, .deck-container .deck-next-link:hover, .deck-container .deck-next-link:focus {
  background: #c00;
  text-decoration: none;
}
/* line 108, ../sass/screen.scss */
.deck-container .deck-status {
  font-size: 0.6666em;
}
/* line 113, ../sass/screen.scss */
.deck-container.deck-menu .slide {
  background: #eee;
}
/* line 117, ../sass/screen.scss */
.deck-container.deck-menu .deck-current, .no-touch .deck-container.deck-menu .slide:hover {
  background: #ddf;
}

/* line 124, ../sass/screen.scss */
table.temperature {
  margin: 30px auto;
  width: 75%;
}
/* line 2, ../../../../../../../.rbenv/versions/1.9.3-p392-railsexpress/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/tables/_scaffolding.scss */
table.temperature th {
  text-align: center;
  font-weight: bold;
}
/* line 5, ../../../../../../../.rbenv/versions/1.9.3-p392-railsexpress/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/tables/_scaffolding.scss */
table.temperature td,
table.temperature th {
  padding: 2px;
}
/* line 8, ../../../../../../../.rbenv/versions/1.9.3-p392-railsexpress/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/tables/_scaffolding.scss */
table.temperature td.numeric,
table.temperature th.numeric {
  text-align: right;
}
/* line 129, ../sass/screen.scss */
table.temperature caption {
  text-align: center;
  margin-bottom: 20px;
}
/* line 134, ../sass/screen.scss */
table.temperature th {
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
}
/* line 140, ../sass/screen.scss */
table.temperature td {
  text-align: center;
}
/* line 143, ../sass/screen.scss */
table.temperature td:first-child {
  text-align: left;
}
